<div>
    <div class="container ">
        <div class="row mt-4">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <p>A Impoace foi constituída em 1993 na cidade do Porto, e durante 25 anos dedicou-se à importação de acessórios e peças para eletrodomésticos das maiores e mais reconhecidas marcas do mercado.
    Atualmente, com um serviço mais alargado, continuamos preparados para o servir.</p>
                        <p>Acreditamos que as reparações contribuem para a diminuição de lixo electrónico no planeta. Por isso, preparamos um serviço simplificado, dinâmico e eficiente direcionado às necessidades dos nosso clientes.</p>
                    </div>
                </div>
                <div class="d-flex justify-content-space-around">
                    <div class="fs-17 font-bold">Contate-nos!</div>
                    <div class="color-primary font-bold">Fale connosco e conheça as nossas propostas para as suas necessidades.</div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-6 d-flex justify-content-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.444759092171!2d-8.600778184148544!3d41.146645479287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2464ec3c37dbf3%3A0xc09fbb542a8ad68e!2sImpoace-importa%C3%A7%C3%A3o+E+Com%C3%A9rcio+De+Pe%C3%A7as+P%2F+Electrodom%C3%A9sticos+Lda!5e0!3m2!1spt-PT!2spt!4v1541623389319" width="500" height="500" frameborder="0"></iframe>
            </div>
            <div class="col-6">
                <form>
                    <mat-form-field appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Mensagem</mat-label>
                        <textarea matInput rows="10"></textarea>
                    </mat-form-field>
                    <div class="row py-2 d-flex ali">
                        <div class="col-2">
                          <button class="width-100 height-40" mat-button [mat-dialog-close]="" color="impoace">Submeter</button>
                        </div>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>