<div>
    <div class="container ">
        <div class="row mt-4">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <p>A Impoace foi constituída em 1993 na cidade do Porto, e durante 25 anos dedicou-se à importação de acessórios e peças para eletrodomésticos das maiores e mais reconhecidas marcas do mercado.
    Atualmente, com um serviço mais alargado, continuamos preparados para o servir.</p>
                        <p>Acreditamos que as reparações contribuem para a diminuição de lixo electrónico no planeta. Por isso, preparamos um serviço simplificado, dinâmico e eficiente direcionado às necessidades dos nosso clientes.</p>
                    </div>
                </div>
                <div class="d-flex justify-content-space-around">
                    <div class="fs-17 font-bold">Contate-nos!</div>
                    <div class="color-primary font-bold">Fale connosco e conheça as nossas propostas para as suas necessidades.</div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-6"></div>
            <div class="col-6">
                <form>
                    <!--<mat-form-field appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Mensagem</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>-->
                </form>
            </div>
        </div>
    </div>
</div>