<div class="mt-4">
    <div class="row mb-4 d-flex">

        <div class="col-6">
            <img src="assets\images\impoace-reparações.png" alt="" class="service-card-image">
        </div>
    
        <div class="col-6">
            <div class="fs-20 font-bold">
                Reparação
            </div>
            <div>
                O nosso serviço de reparação de eletrodomésticos
                abrange máquinas de lavar roupa e loiça, frigorificos,
                fogões, fornos, placas de indução, esquentadores, e
                muitos outros.
                Sabemos a importância que cada eletrodomésticos tem
                na sua casa, e por isso, pretendemos oferecer o serviço
                mais rápido possível.
            </div>
        </div>
    
    </div>
    <div class="row mb-4">
    
        <div class="col-6">
            <div class="fs-20 font-bold">
                Peças e acessórios
            </div>
            <div>
                Consulte o nosso catálogo de peças e acessórios para
                reparações.
                Desde sacos para aspirador a módulos eletrónicos
                oferecemos um serviço de venda de peça das mais
                variadas marcas.
            </div>
        </div>
        <div class="col-6">
            <img src="assets\images\impoace-peças-acessórios.png" alt="" class="service-card-image">
        </div>
    
    </div>
    <div class="row">
    
        <div class="col-6">
            <img src="assets\images\impoace-novos-usados.png" alt="" class="service-card-image">
        </div>
        <div class="col-6">
            <div class="fs-20 font-bold">
                Eletrodomésticos novos e usados
            </div>
            <div>
                Se o seu eletrodoméstico já não pode ser reparado ou
                não corresponde às suas necessidades, temos um
                catálogo de produtos novos e recondicionados que
                podem ser a solução ideal para si.
                Oferecemos também serviço de deslocação e
                instalação. 
            </div>
        </div>
    
    </div>
</div>