<div class="services-grid">

    <div #servicesGridList class="services-grid-list row" (window:resize)="onWindowResize()">
        <div class="col-12 mb-3">
            <span>Serviços de reparação</span>
        </div>
    
        <div class="col-12 mb-5">
            <span>Restauro e pintura</span>
        </div>
    </div>

    <div class="row">
        <div #initialServicesGridItem class="services-grid-item col-sm-6 col-md-4 col-lg-3 d-flex flex-column align-items-center mb-5">
            <img #initialServicesGridItemImage src="assets/images/lava%20roupa%20icones%20eletrodom%c3%a9sticos%20impoace-01.png?crc=4108630866" alt="">
            <span class="mt-2">Máquinas de lavar roupa</span>
        </div>
        <div class="services-grid-item col-sm-6 col-md-4 col-lg-3 d-flex flex-column align-items-center mb-5">
            <img src="assets/images/lava%20lou%c3%a7a%20icones%20eletrodom%c3%a9sticos%20impoace%2002-02.png?crc=4021961009" alt="">
            <span class="mt-2">Máquinas de lavar louça</span>
        </div>
        <div class="services-grid-item col-sm-6 col-md-4 col-lg-3 d-flex flex-column align-items-center mb-5">
            <img src="assets/images/caldeira%20icones%20eletrodom%c3%a9sticos%20impoace-03.png?crc=197480353" alt="">
            <span class="mt-2">Esquentadores / Cilindros</span>
        </div>
        <div class="services-grid-item col-sm-6 col-md-4 col-lg-3 d-flex flex-column align-items-center mb-5">
            <img src="assets/images/fog%c3%a3o%20icones%20eletrodom%c3%a9sticos%20impoace-04.png?crc=95546580" alt="">
            <span class="mt-2">Fogões / Placas / Fornos</span>
        </div>
        <div class="services-grid-item col-sm-6 col-md-4 col-lg-3 d-flex flex-column align-items-center mb-5">
            <img src="assets/images/ferro%20engomar%20icones%20eletrodom%c3%a9sticos%20impoace-05.png?crc=23467237" alt="">
            <span class="mt-2">Caldeiras / Ferros de engomar</span>
        </div>
        <div class="services-grid-item col-sm-6 col-md-4 col-lg-3 d-flex flex-column align-items-center mb-5">
            <img src="assets/images/aspirador%20icones%20eletrodom%c3%a9sticos%20impoace-06.png?crc=3916668796" alt="">            
            <span class="mt-2">Aspiradores</span>
        </div>
        <div class="services-grid-item col-sm-6 col-md-4 col-lg-3 d-flex flex-column align-items-center mb-5">
            <img src="assets/images/microondas%20icones%20eletrodom%c3%a9sticos%20impoace-07.png?crc=4043355718" alt="">
            <span class="mt-2">Microondas</span>
        </div>
        <div class="services-grid-item col-sm-6 col-md-4 col-lg-3 d-flex flex-column align-items-center mb-5">
            <img src="assets/images/frigorifico%20icones%20eletrodom%c3%a9sticos%20impoace-08.png?crc=491671502" alt="">
            <span class="mt-2">Frigoríficos</span>
        </div>
    </div>
</div>