<div>
    <div class="container">
        <div class="row">
          <img src="assets\images\impoace-banner.png">
        </div>
    </div>
    
    <div class="container" id="homeCardImage">
        <div class="mt-4">
            <div class="row mb-50 d-flex">
        
                <img src="assets\images\impoace-reparações.png" class="col-md-6 col-sm-12 pr-10 object-fit-contain">
            
                <div class="col-md-6 col-sm-12 position-relative responsive-align-left pl-10">
                    <div class="fs-25 font-bold mb-3">
                        Reparação
                    </div>
                    <div class="fs-17">
                        <div>
                            O nosso serviço de reparação de eletrodomésticos
                            abrange máquinas de lavar roupa e loiça, frigorificos,
                            fogões, fornos, placas de indução, esquentadores, e
                            muitos outros.
                        </div>
                        <br>
                        <div>
                            Sabemos a importância que cada eletrodomésticos tem
                            na sua casa, e por isso, pretendemos oferecer o serviço
                            mais rápido possível.
                        </div>
                        <div class="mt-5 row responsive-align-left">
                            <div class="col-auto home-card-link color-primary font-bold px-3 py-2 fs-17" (click)="openDialog()">Pedir orçamento</div>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="row mb-50">
            
                <div class="col-md-6 col-sm-12 order-md-1 order-2 position-relative responsive-align-right pr-10">
                    <div class="fs-25 font-bold mb-3">
                        Peças e acessórios
                    </div>
                    <div class="fs-17">
                        <div>
                            Consulte o nosso catálogo de peças e acessórios para
                            reparações.
                        </div>
                        <br>
                        <div>
                            Desde sacos para aspirador a módulos eletrónicos
                            oferecemos um serviço de venda de peça das mais
                            variadas marcas.
                        </div>
                        <div class="mt-5 row responsive-align-right">
                            <div (click)="routerChange()" class="col-auto home-card-link color-primary font-bold px-3 py-2 fs-17">Consulte aqui</div>
                        </div>
                    </div>
                </div>
                
                <img src="assets\images\impoace-peças-acessórios.png" class="col-md-6 col-sm-12 order-md-2 order-1 pl-10 object-fit-contain">
            
            </div>
            <div class="row pb-100">
            
                <img src="assets\images\impoace-novos-usados.png" class="col-md-6 col-sm-12 pr-10 object-fit-contain">
                
                <div class="col-md-6 col-sm-12 position-relative responsive-align-left pl-10">
                    <div class="fs-25 font-bold mb-3">
                        Eletrodomésticos novos e usados
                    </div>
                    <div class="fs-17">
                        <div>
                            Se o seu eletrodoméstico já não pode ser reparado ou
                            não corresponde às suas necessidades, temos um
                            catálogo de produtos novos e recondicionados que
                            podem ser a solução ideal para si.
                        </div>
                        <br>
                        <div>
                            Oferecemos também serviço de deslocação e
                            instalação. 
                        </div>
                        <div class="mt-5 row responsive-align-left">
                            <div (click)="routerChange()" class="col-auto home-card-link color-primary font-bold px-3 py-2 fs-17">Ver catálogo</div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>    
    </div>
</div>