@media only screen and (max-width: 480px) {
    img {
      width: 50px;
    }
}

@media only screen and (min-width: 480px) {
    img {
      width: 150px;
    }
}

.active-router-link {
    color: var(--primary-color);
}

.toolbar-icon {
    box-shadow: 0px 0px 0px 1px #e7e7e9 inset;
}

.nav-bar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.go-to-top-button {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 60px;
    right: 30px;
    display: none;
    border-radius: 25%;
    opacity: 70%;
    color: white;
    justify-content: center;
    align-items: center;
}

.go-to-top-button:hover {
    cursor: pointer;
}

.go-to-top-button-visible {
    display: flex;
}