<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<div>

  <div class="bg-dark py-2">

    <div class="container">
      <div class="row color-white align-item-center">
        <div class="col-auto pe-4">
          <i class="fas fa-envelope me-2"></i>
          <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:geral@impoace.pt">geral@impoace.pt</a>
        </div>
        <div class="col-auto pe-4">
          <i class="fas fa-phone me-2"></i>
          <a class="navbar-sm-brand text-light text-decoration-none" href="tel:+351-225-105-788">+351 225 105 788</a>
        </div>
        <div class="col-auto pe-4">
          <i class="fas fa-phone me-2"></i>
          <a class="navbar-sm-brand text-light text-decoration-none" href="tel:+351 966 723 512">+351 966 723 512</a>
        </div>
        <div class="col-auto pe-4">
          <i class="fab fa-whatsapp me-2"></i>
          <a class="text-light text-decoration-none" target="_blank" href="https://web.whatsapp.com/send?phone=+351966723512">+351 966 723 512</a>
        </div>
        <div class="col-auto pl-2 fs-17px">

          <a class="text-light" href="https://www.facebook.com/impoace" target="https://www.facebook.com/impoace" rel="sponsored">
            <i class="fab fa-facebook-f fa-sm fa-fw me-2"></i>
          </a>
          <a class="text-light" href="https://www.instagram.com/impoace" target="https://www.instagram.com/impoace">
            <i class="fab fa-instagram fa-sm fa-fw me-2"></i>
          </a>
          <a class="text-light" href="https://www.linkedin.com/company/impoace" target="https://www.linkedin.com/company/impoace">
            <i class="fab fa-linkedin fa-sm fa-fw"></i>
          </a>

        </div>
      </div>
    </div>

  </div>

  <div class="shadow">

    <div class="container">
      <div class="row justify-content-between">
        <div class="color-primary h1 col-auto align-self-center order-md-1 order-1">
          <span>Impoace</span>
        </div>
    
        <div class="d-flex col justify-content-center order-md-2 order-sm-3 order-3">
    
          <div routerLink="/Home" routerLinkActive="active-router-link" class="cursor-pointer height-80 d-flex align-items-center px-4">Início</div>
          <div routerLink="/Company" routerLinkActive="active-router-link" class="cursor-pointer height-80 d-flex align-items-center px-4">Empresa</div>
          <div routerLink="/Services" routerLinkActive="active-router-link" class="cursor-pointer height-80 d-flex align-items-center px-4">Serviços</div>
          <div routerLink="/Store" routerLinkActive="active-router-link" class="cursor-pointer height-80 d-flex align-items-center px-4">Loja</div>
          <div routerLink="/Contact" routerLinkActive="active-router-link" class="cursor-pointer height-80 d-flex align-items-center px-4">Contatos</div>
    
        </div>
    
        <div class="d-flex col-auto justify-content-between align-items-center order-md-3 order-sm-2 order-2">
    
          <div>
    
          </div>
    
          <div class="d-flex">
            <i class="fas fa-search text-dark mx-2"></i>
            <i matBadge="0" matBadgeColor="warn" class="fas fa-cart-arrow-down text-dark mx-2"></i>
            <i matBadge="+00" matBadgeColor="warn" class="fas fa-user text-dark mx-2"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="page" class="container">
  <router-outlet></router-outlet>
</div>
