<div id="nav-bar" class="nav-bar">
    <div class="shadow">
        <div class="container">
            <div class="row">
                <div class="d-flex col justify-content-between font-bold">
                    <div routerLink="/" routerLinkActive="active-router-link" class="cursor-pointer align-self-center" (click)="onClick_hideStore()">
                        <img src="assets\images\impoace_logo.png" alt="Impoace">
                    </div>
                    <div *ngIf="isDesktop && !showSearchMenu" routerLink="/Store" routerLinkActive="active-router-link" class="cursor-pointer fs-20 height-80 d-flex align-items-center" (click)="onClick_showStore()">Loja</div>
                    <div *ngIf="isDesktop && !showSearchMenu" routerLink="/Services" routerLinkActive="active-router-link" class="cursor-pointer fs-20 height-80 d-flex align-items-center" (click)="onClick_hideStore()">Serviços</div>
                    <div *ngIf="isDesktop && !showSearchMenu" routerLink="/Contact" routerLinkActive="active-router-link" class="cursor-pointer fs-20 height-80 d-flex align-items-center" (click)="onClick_hideStore()">Contatos</div>
                    <div class="d-flex justify-content-between align-items-center">
                        <i class="fas fa-search cursor-pointer text-dark mx-2" (click)="onClick_openMenuSearchDialog()"></i>
                        <i matBadge="0" matBadgeColor="warn" class="fas fa-cart-arrow-down cursor-pointer text-dark mx-2" (click)="onClick_toggleCartSidebar()"></i>
                        <i *ngIf="!isDesktop" class="fas fa-bars text-dark mx-2" (click)="onClick_toggleMenuSidebar()"></i>
                    </div>
                </div>
                <div *ngIf="showMenuSidebar">
                    <div class="menu-sidebar">
                        <div class="menu-sidebar-content row">
                            <div class="row">
                                <div class="col">Voltar</div>
                                <div class="col-auto" (click)="onClick_toggleMenuSidebar()">X</div>
                            </div>
                            <div routerLink="/Store" routerLinkActive="active-router-link" class="cursor-pointer font-normal height-80 fs-25 d-flex align-items-center" (click)="onClick_toggleMenuSidebar()">Loja</div>
                            <div routerLink="/Services" routerLinkActive="active-router-link" class="cursor-pointer font-normal height-80 fs-25 d-flex align-items-center" (click)="onClick_toggleMenuSidebar()">Serviços</div>
                            <div routerLink="/Contact" routerLinkActive="active-router-link" class="cursor-pointer font-normal height-80 fs-25 d-flex align-items-center" (click)="onClick_toggleMenuSidebar()">Contatos</div>
                        </div>
                        <div class="menu-sidebar-shadow"></div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showCartSidebar">
            <div class="cart-sidebar">
                <div class="cart-sidebar-content row">
                    <div class="row">
                        <div class="col fs-17 font-bold">Carrinho de compras</div>
                        <div class="col-auto cursor-pointer d-flex align-items-center fas fa-times" (click)="onClick_toggleCartSidebar()"></div>
                    </div>
                    <div class="row">
                        <mat-selection-list #mat_shoppingcartproducts>
                            <mat-list-option *ngFor="let shoppingCartProduct of shoppingCartProducts">
                              {{shoppingCartProduct}}
                            </mat-list-option>
                        </mat-selection-list>
                    </div>
                    <div class="cart-checkout-button">
                        <button routerLink="/Cart" routerLinkActive="active-router-link" mat-button color="impoace" (click)="onClick_goToCart()">Finalizar compra</button>
                    </div>
                </div>
                <div class="cart-sidebar-shadow" (click)="onClick_toggleCartSidebar()"></div>
            </div>
        </div>
        <div *ngIf="showStoreMenu">
            <store-menu></store-menu>
        </div>
    </div>
</div>