/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#page {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}

/*---- COLOR ----*/
.color-white {
    color: #fff;
}

/*---- HEIGHT ----*/
.height-inherit {
    height: inherit;
}

.height-40 {
    height: 40px;
}

.height-80 {
    height: 80px;
}

/*---- CURSOR ----*/
.cursor-pointer {
    cursor: pointer;
}

/*---- BOOTSTRAP ADDITONAL ----*/
    
/* font size */
.fs-13px {
    font-size: 13px;
}

.fs-15px {
    font-size: 15px;
}

.fs-17px {
    font-size: 17px;
}