/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
    --primary-color: #00836c;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto; 
    min-width: fit-content;
}

#page {
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}

/*---- COLOR ----*/
.color-white {
    color: #fff;
}

.color-primary {
    color: var(--primary-color);
}

/*---- HEIGHT ----*/
.height-inherit {
    height: inherit;
}

.height-40 {
    height: 40px;
}

.height-80 {
    height: 80px;
}

/*---- WIDTH ----*/
.width-100 {
    width: 100%;
}


/*---- CURSOR ----*/
.cursor-pointer {
    cursor: pointer;
}

/*---- FONT WEIGHT ----*/
.font-bold {
    font-weight: bold;
}

/*---- POSITION ----*/
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.bottom-0 {
    bottom: 0;
}

.right-0 {
    right: 0;
}

.right-10 {
    right: 10px;
}

/*---- TEXT ALIGN ----*/
.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

/*---- JUSTIFY CONTENT----*/
.justify-content-end {
    justify-content: end;
}

.justify-content-space-between {
    justify-content: space-between;
}

/*---- PADDING ----*/
.pl-5 {
    padding-left: 5px;
}

.pr-5 {
    padding-right: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.pb-100 {
    padding-bottom: 100px;
}

/*---- MARGIN ----*/
.mb-50 {
    margin-bottom: 50px;
}

/*---- OBJECT FIT----*/
.object-fit-contain {
    object-fit: contain;
}


/*---- BOOTSTRAP ADDITONAL ----*/
    
/* font size */
.fs-13 {
    font-size: 13px;
}

.fs-15 {
    font-size: 15px;
}

.fs-17 {
    font-size: 17px;
}

.fs-20 {
    font-size: 20px;
}

.fs-25 {
    font-size: 25px;
}

@media only screen and (max-width: 480px) {
    .fs-nav-bar {
      font-size: 15px;
    }
}

@media only screen and (max-width: 350px) {
    .fs-nav-bar {
      font-size: 13px;
    }
}

@media only screen and (min-width: 480px) {
    .fs-nav-bar {
      font-size: 17px;
    }
}


/* row */
.row {
    --bs-gutter-x: 0;
}

/*---- ANUGLAR MATERIAL ----*/

  
.mat-focused .mat-form-field-label{
    color: var(--primary-color) !important;
}
  
.mat-form-field-underline{
    background-color: var(--primary-color) !important;
}

.mat-form-field-ripple{
    background-color: var(--primary-color) !important;
}

.mat-impoace {
    background-color: var(--primary-color);
    color: white;
}

.mat-form-field-wrapper {
    width: 100%;
}

.mat-form-field {
    width: 100%;
}

/* ---- Responsive CSS (media queries) ----*/

.responsive-padding-2 {
    padding-left: 5px;
    padding-right: 5px;
}

@media only screen and (max-width: 480px) {
    .responsive-padding-2 {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.responsive-align-right {
    text-align: right;
    justify-content: end;
}

.responsive-align-left {
    text-align: left;
}

@media only screen and (max-width: 480px) {
    .responsive-align-right {
        text-align: center;
        justify-content: center;
    }
    
    .responsive-align-left {
        text-align: center;
        justify-content: center;
    }
    
}
